<section id='winners'>
    <div class='hed'>
        <h2>The Winners</h2>
        <p>Our three favorite essays.</p>
    </div>
    <ul>
        {{#each doc.passion}}
            <li>
                <h3><a href='{{url}}' target='_blank'>{{title}}</a></h3>
                <p class='credit'>{{{name}}}</p>
                <a href='{{url}}' target='_blank'><img src='assets/images/{{img}}.jpg'></a>
                {{#each remarks}}
                    <p>{{{value}}}</p>
                {{/each}}
            </li>
        {{/each}}
    </ul>

    <div class='hed'>
        <h2>Honorable Mentions</h2>
        <p>Definitely worth a click.</p>
    </div>
    <ul class='other'>
        {{#each doc.passionOther}}
            <li>
                <a href='{{url}}' target='_blank'>{{title}}</a></p>
            </li>
        {{/each}}
    </ul>
    <p class='note'>*{{{doc.commercial}}}</p>
</section>
